* { margin: 0; padding: 0; }

.container {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    border: 1px dashed orange;
}

ul { list-style: none;}
ul li a {
    text-decoration: none;
    color: #000;
}

header nav {
    float: left;
    height: 50px;
    text-align: center;
}

header nav .mainmenu {
    width: 600px;
    line-height: 50px;
}

header nav .mainmenu > li {
    float: left;
    width: 25%;
    height: 100%;
    color: black;
    transition: all 1s;
}

header nav .mainmenu > li:hover {
    background-color: cornflowerblue;
}

header nav .mainemnu > li:hover a {
    color: white;
}


header nav .submenu { display: none; }

header nav .mainmenu:hover .submenu {
    display: block;
}

header nav .submenu li {
    background-color: #ddd;
    color: #000;
    transition: 1s;
}

header nav .submenu li a {
    color: #000;
}

header nav .submenu li:hover {
    background-color: cornflowerblue;
}

/* subback */
header nav .subback { 
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #ddd;
    z-index: -1;
 }

 header nav .mainemnu:hover ~ .subback { display: block; }