.container {
    position: relative;
    width: 1200px;
    height: 2000px;
    border: 5px dashed orange;
    margin: 0 auto;
}

.container div {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 10%;
    box-sizing: border-box;
    text-align: center;
    font-size: 48px;
}

/* 실습 */
.container .sticky {
    position: -webkit-sticky;
    position: sticky;
    border: 3px solid black;
}
/* 보조박스 */
.contianer .base {
    position: absolute;
    border: 3px dashed #ddd;
    z-index: -1;
    color: #ddd;
}

/* absolute 를 적용한 박스 위치 */
.first { left: 0; top: 0;}
.second { right: 0;}
.third { left: 0; bottom: 0;}
.fourth { bottom: 0; right: 0;}

/* 보조 박스 위치 */
.fifth { top: 0; left: 500px;}
.sixth { top: 200px; left: 500px;}
.seventh { top: 400px; left: 500px;}
.eighth { top: 600px; left: 500px;}
