
* { margin: 0; padding: 0; }

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: all 1s ease-in-out;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: royalblue;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: royalblue;
    color: white;
}

.content {
    margin-left: 200px;
    padding: 10px 20px;
    height: 1000px;
}